<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans                    
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- bean definitions -->

	<bean id="contentBasedFilter" class="model.ContentBasedFilter"/>
	<bean id="collaborativeFilter" class="model.CollaborativeFilter"/>
	<!-- Constructor injection -->
	<bean id="recommenderImplementation" class="springcore.xml.RecommenderImplementation">
	<constructor-arg ref="contentBasedFilter"></constructor-arg>
	</bean>
	<!-- Setter injection -->
	<bean id="recommenderImplementation2" class="springcore.xml.RecommenderImplementation2">
	<property  name="filter" ref="collaborativeFilter"></property>
	</bean>
	
</beans>